* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

html {
  scroll-behavior: smooth;
}

.container {
  width: 100vw;
  height: 100vh;
  background: #cecece;
  
}

.containerdark {
  background: #111;
}

h2{
  font-family: 'Source Serif Pro', serif;
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 10px;
  transition: 0.5s;
}

.containerdark h2{
  font-family: 'Source Serif Pro', serif;
  font-size: 3rem;
  font-weight: 600;
  color: white;
  margin-bottom: 10px;
}